body {
    text-align: center;
    background-color: #f8f8f8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;

}
img[alt="banner"] {
    width: 100%;
    display: block;
}
aside {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed;
    text-align: left;
    width: 250px;
}
.orderedlist {
    width: 250px;
}
.unorderedlist {
    width: 250px;
}
article {
background: #f8f8f8;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #ddd;
width: 500px;
}
