body {
    text-align: center;
    background-color: gray;

}

aside {
    text-align: left;
}
.orderedlist {
    
}
.unorderedlist {
    
}
.post1 {

}
.post2 {

}
.post3 {

}
.post4 {

}
.post5 {

}
.post6 {

}
.post7{

}
.post8 {

}
.post9 {

}
.post10 {

}
