body {
    text-align: center;
    background-color:rgb(44, 75, 99);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: medium;
    cursor: url('arrow-cursor-outline.png');

}
h1.hello {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}
img[alt="banner"] {
    width: 100%;
    display: block;
    border: yellow solid;
    border-width: 10px;
}
aside {
    background: rgb(104, 154, 192);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed;
    text-align: center;
    width: 250px;
    border-color: rgb(99, 119, 134);
    border-width: 10px;
}

article.post1 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post2 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post3 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post4 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post5{
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post6 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post7 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post8 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post9 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

article.post10 {
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

.orderedlist {
    width: 250px;
}
.unorderedlist {
    width: 250px;
}
article {
background: #f8f8f8;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #ddd;
width: 500px;
}
