/*some stuff is sourced from w3 schools because i couldn't find another way to fix the formatting we wanted*/

body {
    background-color: rgb(44, 75, 99);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: 15px;
    cursor: url('arrow-cursor-outline.png');
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

img[alt="banner"] {
    width: 100%;
    display: block;
    border: turquoise dashed;
    border-width: 5px;
}
h1.hello {
    text-align: center;
}


.leftcolumn {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.rightcolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post1and2-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}



article {
    display: block;
    text-align: center;
    font-size: 15px;
    background-color: rgb(94, 114, 129);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #1f2124;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
img article {
    text-align: center;
}

aside {
    background: rgb(104, 154, 192);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed;
    width: 100%;
    border-color: rgb(99, 119, 134);
    border-width: 5px;
    margin-top: 20px;
}

table.post1 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post2 {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post3, table.post4, table.post5, table.post6, table.post7, table.post8, table.post9, table.post10 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

.orderedlist, .unorderedlist {
    display: block;
    width: 250px;
    margin-left: 0;
}

img.doo {
    padding-right: 30px;
    width: auto;
}

p.info2 {
    padding-right: 17px;
}

h2 {
    padding-right: 17px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
aside {

background: rgb(104, 154, 192);

padding: 15px;

margin-bottom: 20px;

border: 1px dashed;

width: 250px;

border-color: rgb(99, 119, 134);

border-width: 5px;

}
a {
    color: rgb(44, 75, 99);

}

