body {
    text-align: center;
    background-color:rgb(44, 75, 99);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: medium;
    cursor: url('arrow-cursor-outline.png');


img[alt="banner"] {
    width: 100%;
    display: block;
    border: turquoise dashed;
    border-width: 5px;
}
h1.hello {
    text-align: center;
}
aside {
    background: rgb(104, 154, 192);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed;
    width: 250px;
    border-color: rgb(99, 119, 134);
    border-width: 5px;
}


img.doo {
    padding-right: 30px;
 width: auto;

}
table.post1 {
    margin-left: 20px;
   
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post2 {
    margin-left: 20px;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post3 {
    width:100%;
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post4 {
width:100%;
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post5{
width:100%;
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post6 {
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post7 {
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post8 {
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post9 {
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

table.post10 {
    margin-left: 0;
    flex-basis: 100%;
    background-color: rgb(113, 133, 140);
    border-color: rgb(64, 77, 87);
    border-width: 10px;
}

.orderedlist {
    display: block
    width: 250px;
}
.unorderedlist {
    width: 250px;
    display: block;
}
aside {
padding: 15px;
margin-bottom: 20px;
width: 250px;
margin: 0 0 20px 0;
}

p.info2 {
    padding-right: 17px;
}

h2 {
    padding-right: 17px;
}



article {
    display: block;
margin-left: 500px;
text-align: center;
font-size: 15px;
background-color: rgb(94, 114, 129);
padding-left: 15px;
margin-bottom: 20px;
border: 4px solid #1f2124;
width: 450px;
margin: 0 auto 20px 0;


}
img article {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
main > aricle {
    flex-shrink: 0;
}
