body {
    text-align: center;
    background-color: #f8f8f8;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    font-size: medium;
    cursor: url('arrow-cursor-outline.png');

}
img[alt="banner"] {
    width: 100%;
    display: block;
    border: teal dashed;
}
aside {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed;
    text-align: center;
    width: 250px;
}
.orderedlist {
    width: 250px;
}
.unorderedlist {
    width: 250px;
}
article {
background: #f8f8f8;
padding: 15px;
margin-bottom: 20px;
border: 1px solid #ddd;
width: 500px;
}
