body {
    font-family: Arial, sans-serif;
    background-color: #2c4b63;
    margin: 0;
    color: white;
    text-align: center;
}

header {
    padding: 20px;
}

.banner {
    width: 100%;
    border: 4px dashed turquoise;
}

h1 {
    font-size: 48px;
    margin: 10px 0 0 0;
}

h2 {
    font-size: 28px;
    margin-top: 5px;
}

.intro {
    background: #5f7387;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 3px dashed #89a3b8;
    font-size: 18px;
}

ul {
    background: #607b92;
    padding: 15px;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    border: 3px solid #1f2124;
}

table {
    background: #5e7284;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

table th, table td {
    border: 2px solid #1f2124;
    padding: 10px;
}

article {
    background: #5e7284;
    padding: 20px;
    margin: 30px auto;
    width: 70%;
    border: 4px solid #1f2124;
    box-shadow: 5px 5px 5px lightblue;
}

.post-img {
    width: 80%;
    max-width: 400px;
    border: 3px solid turquoise;
}

.image-row {
    margin: 30px auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-row img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid turquoise;
}